code[class*="language-"],
pre[class*="language-"] {
	color: #899b9c;
	background: none;
	font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f9fcfc;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #899b9c;
    font-style: italic;
}

.token.punctuation {
	color: #313838;
    font-weight: normal;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #d90280;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #00ab7f;
}

.token.boolean,
.token.number {
	color: #313838;
}

.token.i {
    font-weight: bold;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #88037d;
}

.token.operator {
	color: #313838;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #00bbe3;
    font-weight: bold;
}

.token.keyword {
	color: #0047bf;
	font-weight: bold;
}

.token.regex,
.token.important {
	color: #f20f30;
}

.token.state {
    color: #8f3528;
    font-weight: bold;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

